@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'clear';
@import 'animation';

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'poppins';
  display: flex;
  flex-direction: column;
}

// üst kısım
header {
  display: grid;
  padding: 0 20px;
  background: $white;
  // sütunların konumunu ve oranını belirleme
  grid-template-areas: 'logo search likes';

  // her string bir sutunu temisl eder
  // her sütund aynı sayıda eleman olması gereklidir
  @include ipad {
    grid-template-areas: 'logo likes' 'search search';
  }

  // sütunlara isim verme
  .logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    img {
      height: 100px;
    }
  }

  .form {
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
    @include ipad {
      margin-bottom: 30px;
    }

    form {
      background: white;
      border-radius: 40px;
      display: flex;
      align-items: center;

      transition: all 0.3s;
      overflow: hidden;
      box-shadow: 0px 20px 20px -10px rgba(38, 57, 77, 0.359);

      &:focus-within {
        // yukarı öteleme
        transform: translateY(-4px);
        box-shadow: 0px 20px 30px -10px rgb(38, 57, 77);
      }

      input {
        font-size: 19px;
        padding: 8px 16px;
        @include ipad {
          font-size: 16px;
          padding: 6px 12px;
        }
        &::placeholder {
          color: #dad0cc;
        }
      }
      button {
        border-radius: 40px;
        padding: 10px 30px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s;
        background-image: linear-gradient(
          45deg,
          $yellow 30%,
          $pink 100%
        );

        &:hover {
          scale: 0.95;
        }
      }
    }
  }

  .bookmark {
    grid-area: likes;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 25px;
  }
}

// ana içerik
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex: 1;
  @include laptop {
    grid-template-columns: 1fr;
  }
}

section {
  height: 100%;
}

//! sonuçlar alanı
main #results {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  overflow-y: scroll;
  overflow-x: hidden;

  .result-link {
    background: white;
    border-top: 2px solid white;
    padding: 20px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-2px);
      background: #f9f5f3;
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    h4 {
      color: $yellow;
      //  todo yazılar taşıcak
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &::-webkit-scrollbar {
    background: white;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: $yellow;
  }
}

//! tarif detay alanı
main #recipe {
  background: #f9f5f3;
}

// resim alanı
#recipe figure {
  height: 300px;
  position: relative;
  background: #a9c9ff;
  z-index: 100000;

  // resmin üzerine renk geçişi ekleme
  &::before {
    content: '';
    display: block;
    background: red;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.4;
    background-image: linear-gradient(
      90deg,
      #a9c9ff 0%,
      #ffbbec 100%
    );
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-family: 'ubuntu';
    position: absolute;
    bottom: 0;
    // position abolute olan lemanı ortalama
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: white;
    font-weight: 600;
    background-color: #a9c9ff;
    background-image: linear-gradient(
      90deg,
      #a9c9ff 0%,
      #ffbbec 100%
    );
    white-space: nowrap;
    padding: 10px 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.444);
  }

  // like buytonu
  .like-area {
    display: flex;
    justify-content: end;
    padding: 30px;

    i {
      font-size: 26px;
      padding: 5px;
      cursor: pointer;
      border-radius: 10px;
      transition: all 300ms;
      &:hover {
        background: #bdbcbc;
      }
    }
  }
}

// tarif alanı
#recipe .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin: 40px 0 0;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 40px;
    @include ipad {
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      gap: 10px;
      i {
        color: #a9c9ff;
      }

      p {
        white-space: nowrap;
        max-width: 289px;
        overflow: hidden;
        text-overflow: ellipsis;
        @include mobile {
          max-width: 300px;
        }
        @include ipad {
          max-width: 450px;
        }
      }
    }
  }
}

// nasıl pişrilir alanı
#recipe .directions {
  text-align: center;
  padding-bottom: 40px;
  h2 {
    font-family: 'ubuntu';
    font-size: 30px;
    transform: skewY(-3deg);
    font-weight: 600;
    text-shadow: 0 0 30px #ffbbec;
    color: #ffbbec;
  }

  p {
    padding: 50px;
    span {
      color: #ffbbec;
    }
  }

  a {
    padding: 10px 30px;
    border: 1px solid #a9c9ff;
    border-radius: 30px;
    transition: all 300ms;
    &:hover {
      background: #a9c9ff;
      color: white;
    }
  }
}

main #cart {
  div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  button {
    background: red;
    color: wheat;
  }
  ul {
    height: 90vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: black;
    }
  }
}
