@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
  padding: 3px 8px;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

#wifi-loader {
  --background: #fbda61;
  --front-color: #f9a9cc;
  --back-color: #fbda61;
  --text-color: #fbda61;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wifi-loader svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#wifi-loader svg circle.back {
  stroke: var(--back-color);
}

#wifi-loader svg circle.front {
  stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
  height: 86px;
  width: 86px;
}

#wifi-loader svg.circle-outer circle {
  stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
  animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
  animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
  height: 60px;
  width: 60px;
}

#wifi-loader svg.circle-middle circle {
  stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
  animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
  animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
  height: 34px;
  width: 34px;
}

#wifi-loader svg.circle-inner circle {
  stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
  animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
  animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
  content: attr(data-text);
}

#wifi-loader .text::before {
  color: var(--text-color);
}

#wifi-loader .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle-outer135 {
  0% {
    stroke-dashoffset: 25;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 301;
  }
  80% {
    stroke-dashoffset: 276;
  }
  100% {
    stroke-dashoffset: 276;
  }
}
@keyframes circle-middle6123 {
  0% {
    stroke-dashoffset: 17;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 204;
  }
  80% {
    stroke-dashoffset: 187;
  }
  100% {
    stroke-dashoffset: 187;
  }
}
@keyframes circle-inner162 {
  0% {
    stroke-dashoffset: 9;
  }
  25% {
    stroke-dashoffset: 0;
  }
  65% {
    stroke-dashoffset: 106;
  }
  80% {
    stroke-dashoffset: 97;
  }
  100% {
    stroke-dashoffset: 97;
  }
}
@keyframes text-animation76 {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  50% {
    -webkit-clip-path: inset(0);
            clip-path: inset(0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
}
.CartBtn {
  margin: auto;
  margin-top: 40px;
  width: 40%;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  pointer-events: none;
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  pointer-events: none;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

.paste-button {
  position: relative;
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: #f9a9cc;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  overflow: hidden;
  left: -151px;
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid #f9a9cc;
  border-radius: 15px 0px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #f9a9cc;
  padding: 8px 10px;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.1s;
}
.dropdown-content a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content a:hover {
  background-color: #f9a9cc;
  color: #212121;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: #f9a9cc;
}

.dropdown-content #top:hover {
  border-radius: 13px 0px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "poppins";
  display: flex;
  flex-direction: column;
}

header {
  display: grid;
  padding: 0 20px;
  background: #f9f5f3;
  grid-template-areas: "logo search likes";
}
@media (max-width: 700px) {
  header {
    grid-template-areas: "logo likes" "search search";
  }
}
header .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}
header .logo img {
  height: 100px;
}
header .form {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 700px) {
  header .form {
    margin-bottom: 30px;
  }
}
header .form form {
  background: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0px 20px 20px -10px rgba(38, 57, 77, 0.359);
}
header .form form:focus-within {
  transform: translateY(-4px);
  box-shadow: 0px 20px 30px -10px rgb(38, 57, 77);
}
header .form form input {
  font-size: 19px;
  padding: 8px 16px;
}
@media (max-width: 700px) {
  header .form form input {
    font-size: 16px;
    padding: 6px 12px;
  }
}
header .form form input::-moz-placeholder {
  color: #dad0cc;
}
header .form form input::placeholder {
  color: #dad0cc;
}
header .form form button {
  border-radius: 40px;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  background-image: linear-gradient(45deg, #fbda61 30%, #ff5acd 100%);
}
header .form form button:hover {
  scale: 0.95;
}
header .bookmark {
  grid-area: likes;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 25px;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex: 1;
}
@media (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }
}

section {
  height: 100%;
}

main #results {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  overflow-y: scroll;
  overflow-x: hidden;
}
main #results .result-link {
  background: white;
  border-top: 2px solid white;
  padding: 20px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s;
}
main #results .result-link:hover {
  transform: translateY(-2px);
  background: #f9f5f3;
}
main #results .result-link img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
main #results .result-link h4 {
  color: #fbda61;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main #results::-webkit-scrollbar {
  background: white;
  width: 5px;
}
main #results::-webkit-scrollbar-thumb {
  background: #fbda61;
}

main #recipe {
  background: #f9f5f3;
}

#recipe figure {
  height: 300px;
  position: relative;
  background: #a9c9ff;
  z-index: 100000;
}
#recipe figure::before {
  content: "";
  display: block;
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  background-image: linear-gradient(90deg, #a9c9ff 0%, #ffbbec 100%);
}
#recipe figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#recipe figure h1 {
  font-family: "ubuntu";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 20%) skewY(-6deg);
  color: white;
  font-weight: 600;
  background-color: #a9c9ff;
  background-image: linear-gradient(90deg, #a9c9ff 0%, #ffbbec 100%);
  white-space: nowrap;
  padding: 10px 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.444);
}
#recipe figure .like-area {
  display: flex;
  justify-content: end;
  padding: 30px;
}
#recipe figure .like-area i {
  font-size: 26px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 300ms;
}
#recipe figure .like-area i:hover {
  background: #bdbcbc;
}

#recipe .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  margin: 40px 0 0;
}
#recipe .ingredients ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 700px) {
  #recipe .ingredients ul {
    grid-template-columns: 1fr;
  }
}
#recipe .ingredients ul li {
  display: flex;
  gap: 10px;
}
#recipe .ingredients ul li i {
  color: #a9c9ff;
}
#recipe .ingredients ul li p {
  white-space: nowrap;
  max-width: 289px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 500px) {
  #recipe .ingredients ul li p {
    max-width: 300px;
  }
}
@media (max-width: 700px) {
  #recipe .ingredients ul li p {
    max-width: 450px;
  }
}

#recipe .directions {
  text-align: center;
  padding-bottom: 40px;
}
#recipe .directions h2 {
  font-family: "ubuntu";
  font-size: 30px;
  transform: skewY(-3deg);
  font-weight: 600;
  text-shadow: 0 0 30px #ffbbec;
  color: #ffbbec;
}
#recipe .directions p {
  padding: 50px;
}
#recipe .directions p span {
  color: #ffbbec;
}
#recipe .directions a {
  padding: 10px 30px;
  border: 1px solid #a9c9ff;
  border-radius: 30px;
  transition: all 300ms;
}
#recipe .directions a:hover {
  background: #a9c9ff;
  color: white;
}

main #cart div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
main #cart button {
  background: red;
  color: wheat;
}
main #cart ul {
  height: 90vh;
  overflow-y: auto;
}
main #cart ul::-webkit-scrollbar {
  width: 6px;
}
main #cart ul::-webkit-scrollbar-thumb {
  background: black;
}/*# sourceMappingURL=style.css.map */